:root {
    --brand-experiment: #7a1c2e; 
    --brand-experiment-560: #541320;
    --text-normal: #111214 !important;
    --text-muted: #2e3035 !important;
    --header-primary: #060607 !important;
    --channels-default: #313338 !important;
    --background-modifier-selected: rgba(122, 28, 46, 0.2) !important;
    --background-modifier-hover: rgba(0, 0, 0, 0.06) !important;
    --window-margin: 8px;
    --window-border-radius: 12px;
}

.name_c19a55, .username_c19a55, .activityText_c19a55, 
.text_a2ce8a, .discriminator_c19a55, .channelName_a7d72e,
.clickable_a4d4d9 .name_a4d4d9, .content_a4d4d9 {
    color: #111214 !important;
    font-weight: 600 !important;
}
